[package]
name = "mastodon-twitter-sync"
version = "1.5.1"
authors = ["Klaus Purer <klaus.purer@protonmail.ch>"]
edition = "2018"

[dependencies]
chrono = ">=0.4.0"
dissolve = ">=0.2.2"
egg-mode = ">=0.15"
egg-mode-text = ">=1.14.7"
env_logger = ">=0.7.1"
failure = ">=0.1.5"
log = ">=0.4.8"
mime = ">=0.3.13"
regex = ">=0.2.2"
reqwest = ">=0.10"
serde = { version = ">=1.0", features = ["derive"] }
tempfile = ">=3"
toml = ">=0.4.5"
serde_json = ">=1.0.6"
serde_with = ">=1.4"
structopt = ">=0.2"
# Tokio 0.3 not compatible with requwest and other libs used here. Try to
# upgrade later.
tokio = { version = "<0.3", features = ["fs", "time"] }

# Dev version of Elefren because https://github.com/pwoolcoc/elefren/pull/143 is
# not released yet. Update to 0.22.1 or higher once that is out.
[dependencies.elefren]
git = "https://github.com/pwoolcoc/elefren"
rev = "44da726d08ff20a67ae8f3845b0008269e1a2076"

[profile.release]
# Enabled to have a smaller binary size.
lto = true
