[package]
name = "mastodon-twitter-sync"
version = "1.3.0"
authors = ["Klaus Purer <klaus.purer@protonmail.ch>"]
edition = "2018"

[dependencies]
chrono = ">=0.4.0"
dissolve = ">=0.2.2"
egg-mode = ">=0.13"
egg-mode-text = ">=1.14.7"
failure = ">=0.1.5"
mammut = ">=0.13.0"
mime = ">=0.3.13"
regex = ">=0.2.2"
reqwest = ">=0.9.5"
serde = { version = ">=1.0", features = ["derive"] }
tokio = ">=0.1.15"
tempfile = "3"
toml = ">=0.4.5"
serde_json = ">=1.0.6"
structopt = "0.2"
