on:
  push:
    # Only run Tests if Rust source files change.
    paths:
      - .github/testing.yml
      - src**
      - Cargo*
  pull_request:
    # Only run Tests if Rust source files change.
    paths:
      - .github/testing.yml
      - src**
      - Cargo*

name: Testing

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
      - name: Cache cargo
        uses: Swatinem/rust-cache@v1
      - name: Cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
      - name: Cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: Rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
